
.img{
    widows: 100%;;
     height:auto;
}

.body {
    background-image: url("back.jpg");
    text-align: center;

}

.box {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgb(216, 234, 255);
    width: 30%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: 3px solid black;
}

.text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;  
    height: auto;
    width: auto;
    background: rgb(168, 192, 228);
    color: black;
margin-left: 10px;
margin-right: 10px;
text-align: left;
}